//Change based on what type of board
.faux{
    color:maroon;
    background-color: blue;
}

/* General */
body {
    font: 12px/1.231 arial,helvetica,clean,sans-serif;
    background: #ffe;
    color:maroon;
}

h2, h3{
    margin:0px;
}

hr{
        border: 0;
    border-top: 1px solid #d9bfb7
}


/* Board Bar */
.boardsBar{
    font-size: 9pt;
    color: #b86;
    display: block;
}

.boardsBar a{
    color:maroon;
    padding:1px;
}


/* Post related */
.reply {
    background-color: #f0e0d6;
    border: 1px solid #d9bfb7;
    border-left: 0;
    border-top: 0;
    display: table;
    padding: 2px;
    margin: 4px 0;
    overflow: hidden;           /*unclear if we need this */
}

.replyFirstPost{
    border-left: 0;
    border-top: 0;
    display: table;
    padding: 2px;
    margin: 4px 0;
    overflow: hidden;
}


.thumbnail{
    float: left;
    max-width:125px;
    max-height:125px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.firstThumbnail{
    float: left;
    max-width:250px;
    max-height:250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.name{
    color: #117743;
    font-weight: 700;
}

.replyText{
    display: inline-block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 10px;
    -webkit-margin-end: 40px;
}

.side-arrows{
    color: #e0bfb7;
    float: left;
    margin-right: 2px;
    margin-top: 0;
    margin-left: 2px;
}


/* CAtalog Thread Related */
#catalog{
    
}


#catalog a {
    color: #800;
    text-decoration: none;
}

.catalogThread{
    text-align:center;
    width: 180px;
    max-height: 320px;
    vertical-align: top;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px 0 3px;
}

.threadThumbnail{
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    max-height: 150px;
    max-width: 150px;
    margin-bottom:5px;
}

.teaser {
    padding: 0 15px;
}




/* Home related */
#home{
    margin: auto;
    text-align: left;
    width: 57.69em;
    min-width: 750px;
    color: #800;
}

@font-face {
font-family: "Scooby Doo";

src:url("../build/scoobydoo.otf") format("opentype");
}

.box-inner{
    border: 1px solid;
    margin:0;
    padding:0;
}

.boxbar {
    padding-left:.5em;
    background: #fca;
    color: #800;
    line-height:2em;
}

.boxcontent {
    padding: .5em;
    padding-top: .25em;
    padding-bottom: 0;
    line-height: 130%;
    background:white;
}

#announce{
    background: #800;
    color: #fff;
}

.boxcontent a:hover {
    color: #e00;
    text-decoration: underline;
}
.boxcontent a {
    color: #800;
    text-decoration: none;
}


/* Page Related  */
.boardTitle{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -2px;
}

.newThreadLink{
    font-size: 22px;
    font-weight: 700;
}

.pageElems{
    text-align:center;
}

.boardAnnouncements{
    width:475px;
    height:80px;
    margin:0px auto;
    border-top: 1px solid #d9bfb7;
    margin-top: 8px;
    text-align:left;
    font-size:11px;
}
